main.login-screen {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #EFECEA;
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
}

.login-modal{
    width: 250px;
}

.login-modal > form{
    display: flex;
    flex-direction: column;
}

.login-modal > h1{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 15px;
}

.login-form-text{
    font-family: 'Arial';
    padding: 5px;
    margin-bottom: 20px;
    height: 30px;
    width: inherit;
    border: 1px solid grey;
}

.login_failed{
    text-align: center;
    color: red;
    padding-bottom: 15px;
    display:block;
}

.submitLogin{
    height: 35px;
    color: #fff;
    background-color: #42c5f4;
    border: none;
    margin-bottom: 15px;
    letter-spacing: 2px;
    transition: .3s opacity ease;
    cursor: pointer;
}

.link{
    text-align: center;
}
