
div.profilecard {
    background-color: #FFFFFF;
    
    padding: 20px;

    transition: background-color 1.5s, color 1.5s;
}

div.profilecard div.profilecard-top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.profilecard div.profilecard-top p{
   margin-left: 20px;
   font-weight: 700;
   font-size: 20px;
}

div.profilecard div.profilecard-top img.profilecard-pic {
    width: 100px;
    height: 100px;
    background-size: 30px 30px;
    border-radius: 50%;
}

div.profilecard p.profilecard-text {
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    line-height: 22px;
}