
div.profilecard {
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2),
                0px 1px 3px rgba(0, 0, 0, 0.1);
}

div.profilecard div.profilecard-top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.profilecard div.profilecard-top p{
   margin-left: 20px;
   font-weight: 700;
   font-size: 20px;
}

div.profilecard div.profilecard-top img.profilecard-pic {
    width: 100px;
    height: 100px;
    background-size: 30px 30px;
    border-radius: 50%;
}

div.profilecard p.profilecard-text {
    font-size: 16px;
    font-weight: 400;
    padding-top: 8px;
}