.map-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #EFECEA;
}

.marker{
  background-image: url('logo.png');
  width: 20px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
