.map-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 40px;
    left: 0px;
    background-color: #EFECEA;
}

.marker-red{
  background-image: url('./assets/red_text.svg');
  background-size: 20px 32px;

  width: 20px;
  height: 32px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.marker-blue{
  background-image: url('./assets/blue_text.svg');
  background-size: 20px 32px;

  width: 20px;
  height: 32px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
