
div.card {
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2),
                0px 1px 3px rgba(0, 0, 0, 0.1);
}

div.card div.card-top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.card div.card-top p.username{
   margin-left: 7px;
   font-weight: 700;
   font-size: 14px;
}

div.card div.card-top img.profile-pic {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    border-radius: 50%;
}

div.card p.card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 15px;
}

div.card div.card-bottom {
    border-top: 1px solid #F0EDEC;
    padding-top: 15px;
}

div.card div.card-bottom div.likes {
    display: flex;
}

div.card div.card-bottom div.likes img.like {
    margin-right: 5px;
    cursor: pointer;
}

div.card div.card-bottom div.likes p {
    font-size: 12px;
    color: #63605F;
}

div.card div.card-bottom div.likes img.comment{
    margin-left: 5px;
    cursor: pointer;
}
