
div.card {
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2),
                0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1.5s, background-color 1.5s, color 1.5s;

    div.card-top {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        p.username {
            margin-left: 7px;
            font-weight: 700;
            font-size: 14px;
        }

        img.profile-pic {
            width: 30px;
            height: 30px;
            background-size: 30px 30px;
            border-radius: 50%;
        }
    }

    p.card-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 15px;
    }

    div.card-bottom {
        border-top: 1px solid #F0EDEC;
        padding-top: 15px;
        transition: border-color 1.5s;

        div.likes {
            display: flex;
            justify-content: space-between;

            p {
                font-size: 12px;
                color: #63605F;
                transition: color 1.5s;
            }

            div.likes-outer {
                display: flex;


                img.like {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }

            div.messages-outer {
                
            }

            div.comments-outer {
                display: flex;

                img.comment{
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}

div.reddot{
    display:flex;
}
