/* new post card */
div.new-post-modal {
    position: fixed;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    left: calc(50% - 140px);
    flex: 0 1 100%;
    max-width: 280px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2), 
                0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

div.new-post-modal.off {
    transform: scale(1.07);
    opacity: 0;
    visibility: hidden;
}

form.new-post-form {
    display: flex;
    flex-direction: column;
}



/* Top division made to add padding to top items and allow bottom items to expand to the sides. */
div.top {
    padding: 20px;
}



/* PostTypeSelector */
div.post-type-selector {

}

div.post-type-selector ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 15px;
    margin-top: 0;
}

div.post-type-selector ul li {
    display: flex;
    border: 1px solid #E8E8E8;
    background-image: linear-gradient(white, #F0F0F0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
div.post-type-selector ul li.selected {
    border: 1px solid #00A9FF;
    background-image: linear-gradient(#E9E9E9, white);
}

div.post-type-selector ul li span.text-icon {
    position: relative;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::before {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: -4px;
    left: 0px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::after {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: 4px;
    left: 0px;
    border-radius: 2px;
}

div.post-type-selector ul li span.photo-icon {
    position: relative;
    display: block;
    background-color: #00A9FF;
    width: 15px;
    height: 11px;
    border-radius: 3px;
}
div.post-type-selector ul li span.photo-icon::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

div.post-type-selector ul li span.video-icon {
    width: 0px;
    height: 0px;
    margin-left: 3px;
    box-sizing: border-box;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #00A9FF;
}



/* UserInfo */
div.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.user-info p.username {
   margin-left: 7px;
   font-weight: 700;
   font-size: 14px;
}

div.user-info img.profile-picture {
    object-fit: cover;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    border-radius: 50%;
}



/* File upload */
div.file-upload-outer {
    display: none; /* hidden until later.. */
}

input.media-file-upload {
    background-color: orange;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
}




/* Post Text */
div.textarea-outer {
    position: relative;
}

textarea.post-text {
    width: 100%;
    height: 85px;
    padding: 10px;
    background-color: #F9F9F9;
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    resize: none;
    box-sizing: border-box;
}
textarea.post-text::placeholder {
    font-style: italic;
    font-size: 15px;
    color: #818181;
}



/* Buttons */
.button {
    background-color: #00A9FF;
    color: white;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #54C5FF;
}

div.new-post-buttons {
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.cancel {
    padding: 12px 0;
    text-transform: lowercase;
    cursor: pointer;
}

div.new-post-buttons div.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    border-bottom-left-radius: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.34);
}

input.submit {
    text-transform: lowercase;
    padding: 12px 0;
    flex: 0 0 50%;
    height: 100%;
    border: none;
    border-bottom-right-radius: 15px;
}
