
/* PostTypeSelector */
div.post-type-selector {

}

div.post-type-selector ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 15px;
    margin-top: 0;
}

div.post-type-selector ul li {
    display: flex;
    border: 1px solid #E8E8E8;
    background-image: linear-gradient(white, #F0F0F0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s, background-image 0.3s;
}
div.post-type-selector ul li.selected {
    border: 1px solid #00A9FF;
    background-image: linear-gradient(#E9E9E9, white);
}


div.post-type-selector ul li span.text-icon {
    position: relative;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::before {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: -4px;
    left: 0px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::after {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: 4px;
    left: 0px;
    border-radius: 2px;
}

div.post-type-selector ul li span.photo-icon {
    position: relative;
    display: block;
    background-color: #00A9FF;
    width: 15px;
    height: 11px;
    border-radius: 3px;
}
div.post-type-selector ul li span.photo-icon::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

div.post-type-selector ul li span.video-icon {
    width: 0px;
    height: 0px;
    margin-left: 3px;
    box-sizing: border-box;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #00A9FF;
}
