main.new-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 95px);
    top: 0px;
    left: 0px;
    background-color: #EFECEA;
    padding-top: 40px;
    padding-bottom: 55px;
}
