/* new post card */
div.new-post {
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2), 
                0px 1px 3px rgba(0, 0, 0, 0.1);
}

form.new-post-form {
    display: flex;
    flex-direction: column;
}



/* PostTypeSelector */
div.post-type-selector {

}

div.post-type-selector ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 15px;
    margin-top: 0;
}

div.post-type-selector ul li {
    display: flex;
    border: 1px solid #E8E8E8;
    background-image: linear-gradient(white, #F0F0F0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
div.post-type-selector ul li.selected {
    border: 1px solid #00A9FF;
    background-image: linear-gradient(#E9E9E9, white);
}

div.post-type-selector ul li span.text-icon {
    position: relative;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::before {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: -4px;
    left: 0px;
    border-radius: 2px;
}
div.post-type-selector ul li span.text-icon::after {
    content: '';
    position: absolute;
    background-color: #00A9FF;
    width: 12px;
    height: 2px;
    top: 4px;
    left: 0px;
    border-radius: 2px;
}

div.post-type-selector ul li span.photo-icon {
    position: relative;
    display: block;
    background-color: #00A9FF;
    width: 15px;
    height: 11px;
    border-radius: 3px;
}
div.post-type-selector ul li span.photo-icon::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 2px;
}

div.post-type-selector ul li span.video-icon {
    width: 0px;
    height: 0px;
    margin-left: 3px;
    box-sizing: border-box;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 9px solid #00A9FF;
}



/* UserInfo */
div.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.user-info p.username {
   margin-left: 7px;
   font-weight: 700;
   font-size: 14px;
}

div.user-info img.profile-picture {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    border-radius: 50%;
}



/* File upload */
div.file-upload-outer {
    display: none; /* hidden until later.. */
}

input.media-file-upload {
    background-color: orange;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
}




/* Post Text */
div.textarea-outer {
    position: relative;
}

textarea.post-text {
    width: 100%;
    height: 65px;
    padding: 10px;
    background-color: #F9F9F9;
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    resize: none;
    box-sizing: border-box;
}
textarea.post-text::placeholder {
    font-style: italic;
    font-size: 15px;
    color: #818181;
}



/* SplashSlider */
div.splash-slider {

}

div.splash-slider p {

}

span.arrow {

}

span.left {

}

span.right {

}



/* Buttons */
div.new-post-buttons {

}

div.new-post-buttons div.cancel {

}

div.new-post-buttons input.submit {

}
