/* new post card */
div.new-post {
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.2), 
                0px 1px 3px rgba(0, 0, 0, 0.1);
}



/* PostTypeSelector */
div.post-type-selector {

}

div.post-type-selector ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin: 20px;
}

div.post-type-selector ul li {
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

div.post-type-selector ul li span {
    
}

div.post-type-selector ul li span.text-icon {
    
   background-color: #00A9FF;
   width: 75%;
   heigth: 2px;
   border-radius: 50%;
}
div.post-type-selector ul li span.text-icon::before {
    
}
div.post-type-selector ul li span.text-icon::after {
    
}

div.post-type-selector ul li span.photo-icon {
    
}

div.post-type-selector ul li span.video-icon {

}



/* UserInfo */
div.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

div.user-info p.username {
   margin-left: 7px;
   font-weight: 700;
   font-size: 14px;
}

div.user-info img.profile-picture {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    border-radius: 50%;
}



/* File upload */
input.media-file-upload {

}


/* Post Text */
textarea.post-text {

}



/* SplashSlider */
div.splash-slider {

}

div.splash-slider p {

}

span.arrow {

}

span.left {

}

span.right {

}



/* Buttons */
div.new-post-buttons {

}

div.new-post-buttons div.cancel {

}

div.new-post-buttons input.submit {

}
