footer.app-footer {
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-width: 320px;
    height: 55px;
    bottom: 0px;
    left: 0px;
    z-index: 25;
    border-top: 1px solid rgba(0,0,0,0.14);
    backdrop-filter: blur(7px);

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 5%;

        ul.nav-buttons {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
